<div class="container-fluid">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4><b>DSN</b></h4></div>
      <div class="panel-body">
        <br>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-bordered table-striped">
        <thead>
          <tr class="info">
            <th>Nom et prénom</th>
            <th>E-mails</th>
            <th>Numéro de téléphone</th>
          </tr>
        </thead>
        <tbody id="myTable"  *ngFor="let contact of dsncontact">
          <tr>
            <td>{{contact.nom}}</td>
            <td>{{contact.mail}}</td>
            <td>{{contact.Tel}}</td>
          </tr>
 
        


        </tbody>
      </table>       
</div>
