<div class="container-fluid">
    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4><b>DEMANDE MATERIELLES</b></h4></div>
        <div class="panel-body">
          <br>
          <input class="form-control" id="myInput" type="text" placeholder="Search..">
          <br>
          


            <div class="panel panel-info">
              <div class="panel-heading">REMPLIR FORMULAIRE</div>
                <div class="panel-body">
                  <ul class="list-group">
                   
                  </ul>
                </div>
            </div>


              </div>
              </div>
           </div>
      </div>     
  
  
  
  
  
